/*****global******/
body{
    background: #eee;
  }
  p{
    text-align: justify;
    text-indent:1em;
  }
  
  /****navbar*******/
  #navbar{
    position: fixed;
    left:0px;
    top: 0px;
    bottom: 0px;
    padding: 10px;
    width: 200px;
    border: solid;
    overflow: auto;
  }
  #navbar header{
    text-align: center;
  }
  
  .nav-link{
    display: block;
    padding: 10px;
  }
  a{
    text-decoration: none;
  }
  
  /*****main content******/
  #main-doc{
    margin-left: 240px;
    margin-right: 10px;
  }
  section{
    margin-top: 80px;
  }
  #section1{
    margin-top: 30px;
  }
  code{
    white-space: pre;
  }
  
  img{
    margin: auto;
    display: block;
    width: 90%;
    margin-top: 30px;
  }
  
  .img-text{
    text-align: center;
    font-style: italic; 
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .list{
    margin-left: 40px;
  }
  
  footer{
    margin-top: 40px;
  }
  
  
  /********* media ************/
  @media(max-width: 500px){
    #navbar{
      position: static;
      width: 90%;
    }
    .nav-link{
      display: inline-block;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
    }
    #main-doc{
      margin: 15px;
    }
  }
  